@model Model

@{
    ViewBag.Title = "Admin";
}

<div class="tool-area">
    
    <div class="tool-header">
        <h3><strong class="tool-header-title">ADMIN TOOLS</strong> | welcome, <strong>@ViewBag.Username</strong></h3>
    </div>

    <!--navigation tabs-->
    <ul class="nav nav-tabs tool-nav">
        <li role="presentation" class="active">
            <a href="#member" aria-controls="member" role="tab" data-toggle="tab">member</a>
        </li>
        <li role="presentation">
            <a href="#provider" aria-controls="provider" role="tab" data-toggle="tab">provider</a>
        </li>
        <li role="presentation">
            <a href="#manager" aria-controls="manager" role="tab" data-toggle="tab">manager</a>
        </li>
        <li role="presentation">
            <a href="#admin" aria-controls="admin" role="tab" data-toggle="tab">admin</a>
        </li>
        <li role="presentation">
            <a href="#service" aria-controls="service" role="tab" data-toggle="tab">service</a>
        </li>
        <li role="presentation">
            <a href="#schedule" aria-controls="schedule" role="tab" data-toggle="tab">schedule</a>
        </li>
        <li role="presentation">
            <a href="#report" aria-controls="report" role="tab" data-toggle="tab">report</a>
        </li>
    </ul>

    <!--tab panes-->
    <div class="tab-content tool-content">
        
        <!--member tab-->
        <div role="tabpanel" class="tab-pane active" id="member">
            @Html.Partial("ToolContents/_MemberContent")
        </div>

        <!--provider tab-->
        <div role="tabpanel" class="tab-pane" id="provider">
            @Html.Partial("ToolContents/_ProviderContent")
        </div>

        <!--manager tab-->
        <div role="tabpanel" class="tab-pane" id="manager">
            @Html.Partial("ToolContents/_ManagerContent")
        </div>

        <!--admin tab-->
        <div role="tabpanel" class="tab-pane" id="admin">
            @Html.Partial("ToolContents/_AdminContent")
        </div>

        <!--service tab-->
        <div role="tabpanel" class="tab-pane" id="service">
            @Html.Partial("ToolContents/_ServiceContent")
        </div>

        <!--schedule-->
        <div role="tabpanel" class="tab-pane" id="schedule">
            @Html.Partial("ToolContents/_ScheduleContent")
        </div>

        <!--report-->
        <div role="tabpanel" class="tab-pane" id="report">
            @Html.Partial("ToolContents/_ReportContent")
        </div>

    </div>

</div>

<script type="text/javascript">
    var path = {
        AddMember  : '@Model.Addmember',
        AddAdmin   : '@Model.AddAdmin',
        AddManager : '@Model.AddManager',
        AddProvider: '@Model.AddProvider',

        UpdateMember  : '@Model.Updatemember',
        UpdateAdmin   : '@Model.UpdateAdmin',
        UpdateManager : '@Model.UpdateManager',
        UpdateProvider: '@Model.UpdateProvider'
    };
</script>